*.elf
*.map
*.o
*.zip
*.xcodeproj
*.vcxproj*
gcc-arm-none-eabi-*
package/osx/dist
package/win/dist
*.pkg
.AppleDouble
.DS_Store
mono/
mbed
mbedcomp
mono_framework
monoprog
mono_psoc5_library
*x64.exe
*x86.exe
._*
debpackage